                {% block sw_order_list_grid_columns_delivery_address %}
                <template #column-deliveries.id="{ item }">
                    <template v-if="item.deliveries && item.deliveries[0] && item.deliveries[0].shippingOrderAddress">
                        <div
                            v-tooltip="{
                                showDelay: 300,
                                width: 400,
                                disabled: item.deliveries.length <= 1,
                                message: deliveryTooltip(item.deliveries)
                            }"
                            class="sw-order-list__delivery_address">
                            {{ item.deliveries[0].shippingOrderAddress.street }},
                            {{ item.deliveries[0].shippingOrderAddress.city }},
                            {{ getStateNameById(item.deliveries[0].shippingOrderAddress.countryStateId) }},

                            {{ item.deliveries[0].shippingOrderAddress.zipcode }}
                        </div>
                    </template>
                </template>
                {% endblock %}
                {% block sw_order_list_grid_columns_amount %}
                    <template #column-amountTotal="{ item }">
                        {{ (item.amountTotal).toFixed(2) }} {{ item.currency.translated.shortName }}
                    </template>
                {% endblock %}